body {

    background-color: white;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    overflow: hidden;
    
}
.clock {
    background: #ffffff;
    width: 700px;
    height: 700px;
    margin: 6% auto 0;
    border-radius: 50%;
    border: 30px solid black;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
    
  }

  
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: solid black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
  }
  
  .hour-hand {
    position: absolute;
    z-index: 7;
    width: 7px;
    height: 170px;
    background: #ffffff;
    border: solid black;
    top: 50%;
    left: 50.5%;
    margin-left: -7px;
    margin-top: -150px;
    transform-origin: 50% 145px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
    
  }
  
  .minute-hand {
    position: absolute;
    z-index: 7;
    width: 6px;
    height: 220px;
    background: #ffffff;
    border:  2px solid black;
    top: 50%;
    left: 50%;
    margin-left: -2.5px;
    margin-top: -205px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 200px;
  
    
  }
  
  .second-hand {
    position: absolute;
    z-index: 7;
    width: 3px;
    height: 260px;
    background: #ffffff;
    border: 2px solid black;
    lefT: 348px;
    top: 110px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 234px;
  }
  
  span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    z-index: 4;
  }
  
  .h12 {
    top: 80px;
    left: 340px;
    margin-left: -9px;
    color: black;
  }
  .h3 {
    top: 323px;
    right: 85px;
    color: black;
  }
  .h6 {
    bottom: 90px;
    left: 347px;
    margin-left: -5px;
    color: black;
  }
  .h9 {
    left: 96px;
    top: 321px;
    color: black;
  }
  
  .diallines {
    position: absolute;
    z-index: 10;
    width: 3px;
    height: 40px;
    background: white;
    border: 2px solid black;
    left: 50%;
    top: 15px;
    margin-left: -1px;
    transform-origin: 50% 330px;
  }
  .diallines:nth-of-type(5n) {
    position: absolute;
    z-index: 5px;
    width: 7px;
    height: 55px;
    background: white;
    border: 2px solid black;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 330px;
  }
  
  .info {
    position: absolute;
    width: 120px;
    height: 20px;
    border-radius: 7px;
    background: #ffffff;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 11px;
    top: 200px;
    left: 50%;
    margin-left: -60px;
    font-family: "Poiret One";
    font-weight: 700;
    z-index: 3;
    letter-spacing: 3px;
    margin-left: -60px;
    left: 50%;
  }
  .date {
      top: 80px;
    }
  .day {
      top: 200px;
  }


.clock-background {
    position: absolute; /* Makes it overlap other elements */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the image stretches to the full size of the container */
    height: 100%; /* Matches the height of the container */
    object-fit: cover; /* Ensures the image scales without distortion */
    z-index: 4; /* Places the image behind other elements */
    opacity: 0.85;
    
    
  }

  
  